body {
    margin: 0;
    font-family: Arial, sans-serif; /*change*/
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(161, 220, 249);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 200px; 
    
}
.navbar div span{
    margin: 80px;
}

.logo {
    font-size: 16px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
a:hover{
    text-decoration:none;
    background-color: #3545eb;
    color: aliceblue;
  }


.donate-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.donate-btn:hover {
    opacity: 0.8;
}

.donate-btn:active{
    transform: scale(0.95);
}

button::after {
    content: " →";  /* Adds an arrow after buttons */
  }
.image1 img{
    height: 500px;
    width: 1100px;
    border-radius: 15px;
    margin-left: 100px;
    
}
.image1 h1{
    margin-left: 100px;
}
.image1 ul li{
    display: block;
    margin-left: 60px;
}

.image-container-title{
    margin-top: 60px;
    margin-left: 100px;
}


.image-container {
    display: flex;
    justify-content: center;
    gap: 120px; 
    width: 90%; 
    max-width: 1200px; 
    margin-left: 100px;
    margin-top: 30px;
}

.image-item {
    text-align:left; 
}

.image-item img {
    height: 270px;
    width: 310px;
    border-radius: 15px;
    
}

.we-can-save-them{
    display: flex;
    justify-content: center;
    gap: 300px; 
    width: 90%; 
    max-width: 1200px; 
    margin-left: 90px;
    margin-top: 50px;
}

.image img{
    height: 500px;
    width: 350px;
    border-radius: 15px;
}
.content {
    height: 200vh; 
    padding: 20px;
}

footer {
    clear: both;
    padding: 20px;
    background-color: rgb(161, 220, 249);
    display: flex;
    justify-content: space-between;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  a:focus{
    background-color: rgb(27, 23, 95);
  }

  p::selection{
    background-color: rgb(161, 220, 249);
  }
